[submodule "riscv-linux"]
	path = riscv-linux
	url = git@github.com:WabashOS/riscv-linux
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:sifive/buildroot.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@github.com:firesim/riscv-pk.git
[submodule "pfa_tests/fireclass-scratchpad"]
	path = pfa_tests/fireclass-scratchpad
	url = git@github.com:BenBrock/fireclass-scratchpad.git
