[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/firesim/linux.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/firesim/riscv-pk.git
[submodule "br/buildroot"]
	path = wlutil/br/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "wlutil/busybox"]
	path = wlutil/busybox
	url = https://github.com/ucb-bar/busybox.git
[submodule "boards/firechip/drivers/icenet-driver"]
	path = boards/firechip/drivers/icenet-driver
	url = https://github.com/firesim/icenet-driver.git
[submodule "boards/firechip/drivers/iceblk-driver"]
	path = boards/firechip/drivers/iceblk-driver
	url = https://github.com/firesim/iceblk-driver.git
[submodule "boards/firechip/drivers/inclusive-cache-driver"]
	path = boards/firechip/drivers/inclusive-cache-driver
	url = git@bitbucket.org:zhemao/inclusive-cache-driver.git
[submodule "boards/firechip/drivers/dram-cache-driver"]
	path = boards/firechip/drivers/dram-cache-driver
	url = git@bitbucket.org:zhemao/dram-cache-driver.git
[submodule "boards/firechip/drivers/remote-mem-driver"]
	path = boards/firechip/drivers/remote-mem-driver
	url = git@bitbucket.org:zhemao/remote-mem-driver.git
[submodule "boards/firechip/drivers/prefetch-middleman-driver"]
	path = boards/firechip/drivers/prefetch-middleman-driver
	url = git@bitbucket.org:zhemao/prefetch-middleman-driver.git
